# Ignore Rust build artifacts
target

# Ignore .env files
.env

# Ignore .DS_Store files
.DS_Store

# Ignore .vscode files
.vscode

# Ignore node_modules
**/node_modules

# Ignore Dockerfiles
Dockerfile
**/Dockerfile
Dockerfile.*
.dockerignore

# Ignore scripts
scripts

# Ignore git files
.git