*_key.txt
/*.otio

.env
docker-compose.override.yaml

# Ignore old projects
/chatbot
/video_processing_project

# ignore python things
venv
*.pyc
__pycache__/
.pytest_cache/
htmlcov/
.coverage

# ignore rust build things
target

# ignore node things
node_modules

# ignore elixir things
deps
_build
