[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyjwt = {extras = ["crypto"], version = "*"}
cryptography = "*"

[dev-packages]

[requires]
python_version = "3.13"
