name: CDK

on:
  pull_request:
    branches: ["main"]
    types: [opened, reopened, synchronize, ready_for_review]

jobs:
  cdk_synth_check:
    runs-on: ubuntu-latest
    if: github.event_name == 'push' || (github.event_name == 'pull_request' && !github.event.pull_request.draft)
    steps:
      - uses: actions/checkout@v4
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "20"
          cache: "npm"
          cache-dependency-path: cdk/package-lock.json
      - name: Install CDK dependencies
        run: |
          cd cdk
          npm ci
      - name: Build CDK
        run: |
          cd cdk
          npm run build
      - name: Run CDK tests
        run: |
          cd cdk
          npm test
      - name: Validate CDK synth
        run: |
          cd cdk
          npm run cdk synth
        env:
          AWS_DEFAULT_REGION: us-east-1
          AWS_REGION: us-east-1
          SKIP_GITHUB_ENV: "true"
